<!--
<?php
print <<<EOT
-->
<link href="../../images/zaw/css/zaw.css" rel="stylesheet" type="text/css" />

		<div id="main">
			<div id="left">
				<div class="topic">
					<div class="topic_end">
						<div class="topic_main">产品中心</div>
						<a href="#" class="more"></a>
					</div>
				</div>
				<a href="#" class="menu_top">球面调心滚子轴承</a>
				<a href="#" class="menu">球面滚子推力轴承</a>
				<a href="#" class="menu">CRAB圆环滚子轴承</a>
				<a href="#" class="menu">剖分式球面滚子轴承</a>
				<a href="#" class="menu">剖分式圆柱滚子轴承</a>
				<a href="#" class="menu">圆柱滚子轴承</a>
				<a href="#" class="menu">圆锥滚子轴承</a>
				<a href="#" class="menu">圆柱滚子推力轴承</a>
				<a href="#" class="menu">圆锥滚子推力轴承</a>
				<a href="#" class="menu">深沟球轴承</a>
				<a href="#" class="menu">角接触球轴承</a>
				<a href="#" class="menu">推力球轴承</a>
				<a href="#" class="menu">自调心球轴承</a>
				<a href="#" class="menu_bottom">角接触推力球轴承</a>
				<div class="topic">
					<div class="topic_end">
						<div class="topic_main">资料下载</div>
						<a href="#" class="more"></a>
					</div>
				</div>
				<div id="download_bottom"></div>
			</div>
            
			<div id="middle">
				<div id="welcome_title">欢迎来到</div>
				<div id="welcome"><span id="welcome_company">中国进口轴承替代创始者</span><br />　　大连光扬轴承制造有限公司，位于中国“轴承之都”，瓦房店市北共济街17号，注册商标“ZWA”已在世界40多个国家进行注册，公司致力于“进口轴承替代”的研发制造，始终坚持“精益求精，尽善尽美，产品出现0.01%的问题就是100%的废品！”的质量方针，立志从外观、精度、使用寿命完全替代进口轴承。<br />　　公司拥有专业的技术与服务团队，技术人员比例达30%以上，可以生产内径Φ40mm — Φ2000mm，并承接OEM及贴牌生产，公司已通过ISO9001：2000质量管理体系认证和ISO14001:2004环境管理体系认证，拥有自主进出口经营权，公司的合作伙伴包括世界上排名500强的公司，产品畅销全世界，出口到美国...<a href="#" id="w_more"></a></div>
				<div class="m_topic_b"><div class="m_topic">行业解决方案</div></div>
				<div class="m_pics clear">
					<div class="m_pics_b">
$label[zaw_index_pics]
					</div>
				</div>
				<div class="m_topic_b"><div class="m_topic">质量控制与加工流程<div class="m_topic_bg2"></div></div></div>
				<div id="perform" class="clear">
					<div class="perform_txt">　　ZWA根据ISO9001:2000标准要求，严格执行质量体系
	文件、从轴承产品的供应源头开始，采用工序流动卡片
	进行跟踪，并按照产品制造流程形成详细的质量文件，
	每年有两次的内审程序，确保质...<a href="#" id="perform_more"></a></div>
					<div id="proxy"></div>
					<div id="sgs"></div>
					<div id="sgs_txt">一、原材料与轴承套圈锻件<br />二、轴承套圈车加工及检测<br />三、轴承套圈淬火及检测<br />四、轴承套圈磨加工及检测<br />五、100%探伤检测<br />六、退磁清洗<br />七、包装</div>
					<div id="news">
						<div id="news_txt">新闻和媒体</div>
						<a href="#" id="news_more"></a>
					</div>
				</div>
				<div id="banner"></div>
			</div>
			<div id="right">
				<div class="ob">
					<div class="ob_b">
						<div class="ob_m">
							<div class="ob_t">在线询价</div>
							<div class="ob_p"><img src="$webdb[www_url]/images/zaw/uploads/1.jpg" width="141" height="105" alt="" /></div>
							<a href="#" class="ob_more"></a>
						</div>
					</div>
				</div>
				<div class="topic">
					<div class="topic_end">
						<div class="topic_main">联系我们</div>
						<a href="#" class="more"></a>
					</div>
				</div>
				<div class="ob_b">
					<div class="ob_m">
						<div class="i_topic">国内贸易</div>
						<div class="i_txt">电话：400 000 3540<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;041185518888<br /><span class="b">杨先生</span><br />移动电话：18640843456<br />邮箱：yxn@zwa.cc<br />QQ：51134988<br /><span class="b">高女士</span><br />移动电话：15641175678<br />邮箱：gx@zwa.cc<br />QQ：123528811<br /></div>
						<div class="i_topic">国内贸易</div>
						<div class="i_txt">电话：+8641185518978<br /><span class="b">Celine（付秀玲）</span><br />移动电话：17524117277<br />邮箱：zwa@zwa.cc<br />MSN：zero20090407@live.cn<br />SKYPE：ZWA-Celine</div>
						<div class="i_topic">技术中心</div>
						<div class="i_txt">电话：0411-85518878<br />传真:85518778<br /><span class="b">高工，姜工，邹工</span></div>
					</div>
				</div>
				<a href="#" id="service"></a>
			</div>
		</div>
<!--
EOT;
?>
-->