<!--
<?php
print <<<EOT
--> 
<div id="main">
			<div id="left">
				<div class="topic">
					<div class="topic_end">
						<div class="topic_main">产品中心</div>
						<a href="/list.php?fid=29" class="more"></a>
					</div>
				</div>
				<a href="/list.php?fid=46" class="menu_top">球面调心滚子轴承</a>
				<a href="/list.php?fid=47" class="menu">球面滚子推力轴承</a>
				<a href="/list.php?fid=48" class="menu">CRAB圆环滚子轴承</a>
				<a href="/list.php?fid=49" class="menu">剖分式球面滚子轴承</a>
				<a href="/list.php?fid=50" class="menu">剖分式圆柱滚子轴承</a>
				<a href="/list.php?fid=52" class="menu">圆柱滚子轴承</a>
				<a href="/list.php?fid=53" class="menu">圆锥滚子轴承</a>
				<a href="/list.php?fid=54" class="menu">圆柱滚子推力轴承</a>
				<a href="/list.php?fid=55" class="menu">圆锥滚子推力轴承</a>
				<a href="/list.php?fid=56" class="menu">深沟球轴承</a>
				<a href="/list.php?fid=57" class="menu">角接触球轴承</a>
				<a href="/list.php?fid=58" class="menu">推力球轴承</a>
				<a href="/list.php?fid=59" class="menu">自调心球轴承</a>
				<a href="/list.php?fid=60" class="menu_bottom">角接触推力球轴承</a>
			</div>
			<div id="middle">
				<div class="m_topic_b"><div class="m_topic">当前位置： -&gt; <a href="list.php?fid=29" class="guide_menu">产品中心</a> -&gt; <a href="list.php?fid=46" class="guide_menu">球面调心滚子轴承</a><div class="m_topic_bg"></div></div></div>
				<div class="m_pics"><div id="content_main">
          <h4>&nbsp;</h4>
          <h4>$fidDB[name]</h4>
          <p>&nbsp;</p>

		   <p><img src="$webdb[www_url]/upload_files/$fidDB[logo]" width="600" /></p>


          <p>$fidDB[descrip]</p>
		  
		  <p><a href="http://www.zwa.cc/form/form.php?mid=9" target="_blank"><img src="$webdb[www_url]/images/default/zxxj.jpg"></a></p>



<!--include
EOT;
@include("$tableTPL");
print <<<EOT
include-->
<!--include
EOT;
@include("$listTPL");
print <<<EOT
include-->
          
</tbody></table><p>&nbsp;</p>
          <div style="text-align: right;display:none">
            <a editurl="http://www.zwa.cc/do/job.php?job=bencandy&amp;fid=46&amp;id=696&amp;&amp;type=&amp;act=do">2013-09-14 16:23:13</a> 浏览:<font id="hits">583</font>次
          </div>  
	  
$showpage
          
        </div></div>
			</div>
			<div id="right">
				<div class="topic">
					<div class="topic_end">
						<div class="topic_main">联系我们</div>
						<a href="/bencandy.php?fid=45&amp;aid=676" class="more"></a>
					</div>
				</div>
				<div class="ob_b">
					<div class="ob_m">
						<div class="i_topic">国内贸易</div>
						<div class="i_txt">电话：400 000 3540<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;041185518888<br><span class="b">杨先生</span><br>移动电话：18640843456<br>邮箱：yxn@zwa.cc<br>QQ：51143988<br><span class="b">高女士</span><br>移动电话：15641175678<br>邮箱：gx@zwa.cc<br>QQ：123528811<br></div>
						<div class="i_topic">国际贸易</div>
						<div class="i_txt">电话：+8641185518978<br><span class="b">Celine（付秀玲）</span><br>移动电话：18524117277<br>邮箱：zwa@zwa.cc<br>MSN：zero20090407@live.cn<br>SKYPE：ZWA-Celine</div>
						<div class="i_topic">技术中心</div>
						<div class="i_txt">电话：0411-85518878<br>传真:85518778<br><span class="b">高工  吴工  姜工  邹工</span></div>
					</div>
				</div>
				<a href="#" id="service"></a>
			</div>
		</div>

<!--
EOT;
?>
-->

