.cacompany {
	LINE-HEIGHT: 18px; FONT-SIZE: 12px
}
* {
	FONT-FAMILY: "ו","ו",Arial,Helvetica,sans-serif
}
.menu UL LI A {
	FONT-SIZE: 12px
}
.menu UL LI A:visited {
	FONT-SIZE: 12px
}
BODY {
	FONT-SIZE: 12px
}
.mattblackmenu LI A {
	FONT-SIZE: 12px
}
